* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0 ;
    text-decoration: none;
    scroll-behavior: smooth;
}
.header__nav ul{
display: flex ;
flex-direction: row;
justify-content: flex-end;

}

.header__form{
  display: none;
}


.main__form{
  margin: 4rem;
display: flex ;
flex-direction: column;
align-items: center
}

.main__form input {
  width: 10rem;
}
.btn{
  margin: 1rem;
}

li {  
  list-style-type: none;
  padding: 0 1rem;  
}
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(139, 94, 117);
 
}

a:hover {
  color: rgb(145, 170, 85);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

body {
    background-color: #0B0909;
    background-size: contain;
    text-align: center;
    color: #D6D6D6;
    font-size: 20px;    
  }

  button {   
    font-size: 15px;
    border-radius: 5px;
    width: 250px;
    padding: 5px;   
  }
  
  form input[type=number] { 
    width : 3rem ;
  }
  .fondo {
    margin: 50px 15%;
    width: 75%;
    color: #D6D6D6;
    font-family: fantasy;
    border: 2px solid #8C8C8C;
    background-color: #44444C;
    border-radius: 10px;
    padding-bottom: 25px;
    box-sizing: border-box;
    
  }
  input:focus {
    color: green;
    
  }
  
  ::placeholder{
    color: red;
  }
  input:hover{
    color: aqua;
    background-color: blueviolet;
  }
  button{
    cursor: crosshair;
  }
  
  
  .lavado{
  display: flexbox;
  
  }